@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

* {
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.victor {
  display: flex;
  align-items: center;
  gap: 60px;
  padding: 50px 0;

  .content {
    h2 {
      color: #2D2D2D;
      font-family: Poppins;
      font-size: 50px;
      font-style: normal;
      font-weight: 700;
      line-height: 130%;
      letter-spacing: -1px;
    }

    p {
      color: #2D2D2D;
      font-family: Mulish;
      font-size: 21px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
      margin-top: 20px;
      margin-bottom: 40px;
    }

    button {
      display: flex;
      height: 60px;
      padding: 16px 50px;
      justify-content: center;
      align-items: center;
      border-radius: 20px;
      background: #009379;
      border: unset;

      a {
        color: #FFF;
        text-align: center;
        font-feature-settings: 'liga' off;
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 24px;
        text-decoration: unset;
      }
    }
  }
}