@import url("https://fonts.googleapis.com/css2?family=Cormorant+Infant:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap");
* {
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.safronov .synevir .synevir-content, .safronov .bazaltove .bazaltove-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 15px;
}
.safronov .synevir .synevir-content .image-text, .safronov .bazaltove .bazaltove-content .image-text {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}
.safronov .synevir .synevir-content .image-text img, .safronov .bazaltove .bazaltove-content .image-text img {
  max-width: 500px;
  width: 100%;
  max-height: 400px;
  height: 100%;
}
.safronov .synevir .synevir-content .image-text .rigth, .safronov .bazaltove .bazaltove-content .image-text .rigth {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.gurmak {
  font-family: MedievalSharp;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.gurmak h2 {
  font-size: 60px;
}
.gurmak h2:hover {
  color: #832313;
  font-size: 62px;
}
.gurmak p {
  margin-top: 20px;
  font-size: 20px;
  width: 388px;
}
.gurmak p:hover {
  color: #832313;
  font-size: 21px;
}
.gurmak img {
  border-radius: 10%;
  width: 400px;
  height: 400px;
}
.gurmak img:hover {
  content: url(./img/gurmak2.webp);
}

.safronov {
  display: flex;
  flex-direction: column;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.6447829132) 0%, rgba(132, 244, 96, 0.4094887955) 100%);
}
.safronov__firstscreen {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("./img/basaltic_1.jpg");
  background-size: 100% 100%;
}
.safronov__firstscreen h1 {
  color: #fff;
  font-family: Cormorant Infant;
  font-size: 56px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 1.2px;
}
.safronov p {
  color: #000;
  font-family: Cormorant Infant;
  font-size: 24px;
  font-weight: 400;
  font-style: italic;
}
.safronov p b {
  color: #000;
  font-family: Cormorant Infant;
  font-size: 24px;
  font-weight: 700;
  font-style: normal;
}
.safronov h2 {
  color: #000;
  font-family: Cormorant Infant;
  font-size: 44px;
  font-weight: 600;
  font-style: normal;
}
.safronov .bazaltove {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
  margin: 100px auto;
}
.safronov .bazaltove .slideshow {
  align-self: center;
  max-width: 700px;
  width: 100%;
  max-height: 500px;
  height: 100%;
  overflow: hidden;
  margin-top: 40px;
  position: relative;
}
.safronov .bazaltove .slideshow .slides {
  width: 400%;
  height: 100%;
  display: flex;
}
.safronov .bazaltove .slideshow .slides input[name=bazaltove-slides] {
  position: absolute;
  visibility: hidden;
}
.safronov .bazaltove .slideshow .slides .slide {
  width: 25%;
}
.safronov .bazaltove .slideshow .slides .slide img {
  height: 100%;
  width: 100%;
}
.safronov .bazaltove .slideshow .slides #bazaltove-1:checked ~ .slide1 {
  margin-left: 0;
}
.safronov .bazaltove .slideshow .slides #bazaltove-2:checked ~ .slide2 {
  margin-left: -25%;
}
.safronov .bazaltove .slideshow .slides #bazaltove-3:checked ~ .slide3 {
  margin-left: -50%;
}
.safronov .bazaltove .slideshow .slides #bazaltove-4:checked ~ .slide4 {
  margin-left: -75%;
}
.safronov .bazaltove .slideshow .navigation {
  display: flex;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}
.safronov .bazaltove .slideshow .navigation .nav {
  height: 17px;
  width: 17px;
  border: 1px solid #fff;
  border-radius: 50%;
  margin: 10px;
  cursor: pointer;
  transition: 0.5s;
}
.safronov .bazaltove .slideshow .navigation .nav:hover {
  background: #7fe327;
}
.safronov .synevir {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
  margin: 100px auto;
}
.safronov .synevir .slideshow {
  align-self: center;
  max-width: 700px;
  width: 100%;
  max-height: 500px;
  height: 100%;
  overflow: hidden;
  margin-top: 40px;
  position: relative;
}
.safronov .synevir .slideshow .slides {
  width: 400%;
  height: 100%;
  display: flex;
}
.safronov .synevir .slideshow .slides input[name=synevir-slides] {
  position: absolute;
  visibility: hidden;
}
.safronov .synevir .slideshow .slides .slide {
  width: 25%;
}
.safronov .synevir .slideshow .slides .slide img {
  height: 100%;
  width: 100%;
}
.safronov .synevir .slideshow .slides #synevir-1:checked ~ .slide1 {
  margin-left: 0;
}
.safronov .synevir .slideshow .slides #synevir-2:checked ~ .slide2 {
  margin-left: -25%;
}
.safronov .synevir .slideshow .slides #synevir-3:checked ~ .slide3 {
  margin-left: -50%;
}
.safronov .synevir .slideshow .slides #synevir-4:checked ~ .slide4 {
  margin-left: -75%;
}
.safronov .synevir .slideshow .navigation {
  display: flex;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}
.safronov .synevir .slideshow .navigation .nav {
  height: 17px;
  width: 17px;
  border: 1px solid #fff;
  border-radius: 50%;
  margin: 10px;
  cursor: pointer;
  transition: 0.5s;
}
.safronov .synevir .slideshow .navigation .nav:hover {
  background: #7fe327;
}

.shashko {
  margin-top: 50px;
  background-color: rgb(244, 254, 255);
  border-radius: 50px;
}
.shashko h3 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
  color: #212353;
  font-family: Work Sans;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
}
.shashko .yehor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.shashko .yehor h2 {
  color: #000;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 64px;
  letter-spacing: 2.4px;
}
.shashko .yehor p {
  color: #565656;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0.95px;
}
.shashko .items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 500px 500px;
  row-gap: 50px;
  column-gap: 50px;
}
.shashko .items img {
  width: 230px;
  height: 180px;
}
.shashko .items .item {
  border: 1px solid rgb(100, 232, 255);
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.shashko .items .item h2 {
  padding: 30px;
  color: #212353;
  font-family: Work Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
}
.shashko .items .item button {
  color: #fff;
  display: flex;
  width: 110px;
  height: 30px;
  justify-content: center;
  align-items: center;
  gap: 15px;
  border-radius: 50px;
  border: 1px solid rgb(100, 232, 255);
  background-color: rgb(77, 165, 180);
  box-shadow: 0px 5px 5px 0px rgba(100, 232, 255, 0.1);
}
.shashko .items .item p {
  padding: 20px;
  max-width: 400px;
  width: 100%;
  color: var(--1, #4B5D68);
  font-family: Montserrat;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
}

.diana .content h2 {
  color: black;
  font-family: Josefin Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  text-transform: uppercase;
}
.diana .content p {
  color: black;
  font-family: Josefin Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: 1.6px;
}
.diana button {
  width: 213px;
  height: 60px;
  background: #5373FD;
  color: #FFF;
  text-align: center;
  font-family: Aleo;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 1.12px;
  text-transform: uppercase;
}

.yehor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.yehor h2 {
  color: #000;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 64px;
  letter-spacing: 2.4px;
}
.yehor p {
  color: #565656;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0.95px;
}

/*# sourceMappingURL=style.css.map */
